{{ define "main/index.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	ssss
	{{ .abc }}
	{{template "layout/footer.tmpl"}}
</body>
</html>
{{end}}